@import "../../css-config/mixins.scss";


.single-product-main-content{
    margin: 20px;
    @include md{
        margin: 75px 0;
    }
    .layout{
        max-width: calc(100% - 20px);
        margin: 0 auto;
        @include md{
            max-width: 1200px;
        }
        .single-product-page{
            display: flex;
            flex-direction: column;
            @include lg{
                flex-direction: row;
            }
            .left{
                width: 100%;
                background-color: rgba(0, 0, 0, 0.04);
                border: 1px solid rgba(0, 0, 0, 0.159);
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                @include lg{
                    width: 600px;
                    height: 600px;
                }
                img{
                    
                    width: 99.9%;
                    display: block;
                    @include lg{
                        height: 598px;
                    }
                }
            }
            .right{
                display: flex;
                flex-direction: column;
                padding-top: 20px ;
                @include md{
                    padding: 0 35px;
                }
                .name{
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 20px;
                    @include md{
                        font-size: 24px;
                        line-height: 30px;
                    }
                }
                .price{
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 20px;
                    @include md{
                        font-size: 28px;
                        line-height: 34px;
                    }
                }
                .description{
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 20px;
                    color: #000000b0;

                }
                .cart-buttons{
                    display: flex;
                    @include md{
                        margin-top: 30px ;
                    }
                    .quantity{
                        width: fit-content;
                        display: flex;
                        border: 2px solid rgba(0, 0, 0, 0.389);
                        margin-right: 10px;
                        height: 50px;

                        span{
                            font-size: 18px ;
                            width: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            color: #000000b0;
                            @include md{
                                width: 40px;
                            }
                            &:nth-child(1){
                                border-right: 2px solid rgba(0, 0, 0, 0.389);
                            }
                            &:nth-child(3){
                                border-left: 2px solid rgba(0, 0, 0, 0.389);
                            }
                            &:nth-child(2){
                                width: 30px;
                                @include md{
                                    width: 60px;
                                }
                            }
                            
                            
                        }
                    }

                    button{
                          outline: 0;
                          border: 0;
                          height: 50px;
                          width: 180px;
                          display: flex;
                          align-items:center;
                          justify-content: center;
                          cursor: pointer;
                          font-size: 12px;
                          color:white;
                          background: #9913e2;
                          border-bottom: 3px solid  #570086;
                          flex-grow: 1;
                          @include md{
                            flex-grow: unset;
                            font-size: 18px;
                          }
                    }

                }
                .divider{
                    margin: 20px 0;
                    height: 1px;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.247);
                }
                .info-item{
                    .text-bold{
                        font-size: 18px;
                        font-weight: 500;
                        display: block;
                        &:nth-child(1){
                            margin-bottom: 20px;
                        }
                        span{
                            font-size: 16px;
                            font-weight: 400;
                            cursor: pointer;
                            color: rgba(0, 0, 0, 0.83);
                        }
                        svg{
                            margin: 0 5px;
                        }
                        
                    }
                }
            }
        }
    }
}
